body {
    /*.letter-background*/
}

body .letter-wrapper {
    position: relative;
    left: auto;
    top: auto;
    width: 210mm;
    height: 297mm;
    margin: auto;
    background-color: white;
    border: 1pt solid;
    overflow: hidden;
    background-image: url("../img/watermark.jfif");
}


body .letter-wrapper .top-horizontal-line {
    position: absolute;
    right: 0mm;
    top: 0mm;
    width: 60mm;
    height: 10mm;
    background-color: black;
    transform: skewX(50deg);
    }

body .letter-wrapper .right-vertical-line {
    position: absolute;
    right: 0mm;
    top: -5mm;
    width: 10mm;
    height: 65mm;
    background-color: black;
    transform: skewY(50deg);
    }

body .letter-wrapper .bottom-horizontal-line {
    position: absolute;
    left:0mm;
    bottom: -1mm;
    width: 60mm;
    height: 10mm;
    background-color: rgb(225, 25, 25);
    transform: skewX(50deg);
}

body .letter-wrapper .left-vertical-line {
    position: absolute;
    left: 0mm;
    bottom: -5mm;
    width: 10mm;
    height: 65mm;
    background-color:rgb(225, 25, 25);
    transform: skewY(50deg);
}

body .letter-wrapper .top-left-box {
    position: absolute;
    left: 10mm;
    top: 10mm;
    width: 75mm;
    height: 75mm;
    border-left: 1pt solid black;
    border-top: 1pt solid black;
}

body .letter-wrapper .bottom-right-box {
    position: absolute;
    right: 10mm;
    bottom: 10mm;
    width: 75mm;
    height: 75mm;
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
}

body .letter-wrapper .line {
  position: absolute;
  left: 28mm;
  top: 110mm;
  width: 155mm;
  height: 2pt;
  background: rgb(225 25 25);
  box-shadow: 1px 3px 20px 1px #e7141442;
}

body .letter-wrapper .letter-content {
    /*header*/
    /*letter-body*/
    /*footer*/
  }
  body .letter-wrapper .letter-content header {
    position: absolute;
    left: 0mm;
    top: 0mm;
    width: 100%;
    height: 45mm;
  }
  body .letter-wrapper .letter-content header .letter-org-logo {
    position: absolute;
    left: 20mm;
    top: 12mm;
    width: 25mm;
    height: 25mm;
    margin: 5mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  body .letter-wrapper .letter-content header .letter-org-name {
    font-weight: bold;
    position: absolute;
    left: 52mm;
    top: 20mm;
    width: 100%;
    height: auto;
    font-size: 25pt;
  }
  body .letter-wrapper .letter-content header .letter-org-details {
    position: absolute;
    left: 56mm;
    top: 30mm;
    width: 100%;
    height: auto;
    font-size: 12pt;
    color: rgb(225, 25, 25);
  }
  body .letter-wrapper .letter-content header .letter-ref {
    font-weight: bold;
    position: absolute;
    left: 15mm;
    top: 50mm;
    width: 50%;
    height: auto;
    font-size: 12pt;
  }
  body .letter-wrapper .letter-content header .letter-date {
    font-weight: bold;
    position: absolute;
    left: 140mm;
    top: 80mm;
    width: 30%;
    height: auto;
    font-size: 14pt;
  }
  body .letter-wrapper .letter-content .letter-body {
    position: absolute;
    left: 0mm;
    top: 45mm;
    width: 100%;
    height: 200mm;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-to {
    position: absolute;
    left: 15mm;
    top: 15mm;
    width: 70mm;
    height: 35mm;
    font-weight: bold;
    font-size: 13pt;
    margin-left: 10mm;
  }
  
  body .letter-wrapper .letter-content .letter-body .letter-body-subject {
    position: absolute;
    left: 0mm;
    top: 50mm;
    width: calc(100% - 45mm);
    height: 20mm;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 15pt;
    font-weight: bold;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-salutation {
    position: absolute;
    left: 0mm;
    top: 70mm;
    width: auto;
    height: auto;
    margin-left: 15mm;
    font-weight: bold;
    font-size: 15pt;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-message {
    position: absolute;
    left: 0mm;
    top: 80mm;
    width: auto;
    height: 115mm;
    margin-left: 25mm;
    margin-right: 25mm;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-message p {
    font-size: 13pt;
    text-indent: 15mm;
    font-family: "Times New Roman", Times, serif;
    overflow: auto;
    text-align: justify;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-sign {
    position: absolute;
    right: 25mm;
    top: 172mm;
    width: auto;
    height: auto;
    font-size: 12pt;
    font-weight: bold;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-sign p {
    margin: 0mm;
    font-size: 12pt;
    font-weight: bold;
    text-align: end;
  }
  body .letter-wrapper .letter-content .letter-footer {
    position: absolute;
    left: 12mm;
    top: 250mm;
    width: 100%;
    height: 35mm;
  }
  body .letter-wrapper .letter-content .letter-footer .fa {
    width: 7mm;
    height: 7mm;
    border-radius: 50%;
    padding: 1mm;
    margin-right: 3mm;
    background-color: white;
    text-align: center;
    font-size: 12pt;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-website {
    position: absolute;
    left: 32mm;
    top: 10mm;
    width: auto;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 20pt;
    font-weight: bold;
    text-shadow: 0.2mm 0.2mm white;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-phone {
    position: absolute;
    left: 0mm;
    top: 20mm;
    width: 40%;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 13pt;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-email {
    position: absolute;
    left: 0mm;
    top: 0mm;
    width: 87mm;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 13pt;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-address {
    position: absolute;
    left: 0mm;
    top: 10mm;
    width: 100%;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 13pt;
  }
  
  /*body*/
  