body {
  /*.letter-background*/
}
body .letter-wrapper {
 border: 1pt solid;
    margin: auto;
    overflow: hidden;
    background-color: white;
    left: auto;
    top: auto;
    width: 210mm;
    height: 297mm;
    /* background-image: url(../img/watermark2.png); */
    position: relative;
}
body .letter-wrapper .topbox1 {
   width: 271px;
    height: 68px;
    background-color: black;
    border-top-right-radius: 75px;
    border-bottom-right-radius: -17mm;
    top: 280mm;
    left: -16mm;
    position: absolute;
    z-index: 2;
    transform: skewX(20deg);
}
body .letter-wrapper .topbox2 {
 width: 110px;
    height: 59px;
    background-color: #faa51c;
        position: absolute;
    left: 37mm;
    bottom: 0mm;
        border-start-end-radius: 28px;
    transform: skewX(36deg);
	z-index: 1;
}
body .letter-wrapper .topbox3 {
width: 52px;
    height: 58px;
    background-color: #f78222;
    position: absolute;
    left: 62mm;
    bottom: 0mm;
    border-start-end-radius: 31px;
    transform: skewX(37deg);
}
body .letter-wrapper .topboxtitle {
  position: absolute;
  left: 54mm;
  top: 0mm;
  width: 115mm;
  height: 45mm;
  background-color: #39abb685;
  transform: skewX(-112deg);
}
body .letter-wrapper .bottombox1 {
  position: absolute;
  left: -50mm;
  top: 260mm;
  width: 312mm;
  height: 75mm;
  background-color: #239bb1d9;
}
body .letter-wrapper .bottombox2 {
  position: absolute;
  left: -20mm;
  top: 271mm;
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 15mm 0mm 90mm 103mm;
  border-color: transparent transparent transparent #aedee299;
  transform: rotate(17deg);
}
body .letter-wrapper .bottombox3 {
  position: absolute;
  left: 4mm;
  top: 252mm;
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 29mm 234mm 102mm 39mm;
  border-color: transparent #aedee2 transparent transparent;
}
body .letter-wrapper .letter-content {
  /*header*/
  /*letter-body*/
  /*footer*/
}
body .letter-wrapper .letter-content header {
  position: absolute;
  left: 0mm;
  top: 0mm;
  width: 100%;
  height: 45mm;
  
}
body .letter-wrapper .letter-content header .letter-org-logo {
 font-weight: bold;
    position: absolute;
    left: 155mm;
    top: -7mm;
    width: 37mm;
    height: 45mm;
    margin: 9mm;
}
body .letter-wrapper .letter-content header .letter-org-logo img {
width: 83%;
    left: -145mm;
    bottom: 11mm;
    position: absolute;
    height: 56%;
}
body .letter-wrapper .letter-content header .letter-org-name {
 position: absolute;
    left: 47mm;
    top: 16mm;
    width: 100%;
    height: auto;
    font-size: 19pt;
}
body .letter-wrapper .letter-content header .letter-org-details {
position: absolute;
    left: 50mm;
    top: 24mm;
    width: 100%;
    height: auto;
    font-size: 9pt;
}
body .letter-wrapper .letter-content header .letter-ref {
 position: absolute;
    left: 23mm;
    top: 51mm;
    width: 50%;
    height: auto;
    font-size: 12pt;
	 color: #7d7e82;
}
body .letter-wrapper .letter-content header .letter-date {
 position: absolute;
    left: 146mm;
    top: 82mm;
    width: 30%;
    height: auto;
    font-size: 12pt;
	 color: #7d7e82;
}
body .letter-wrapper .letter-content .letter-body {
  position: absolute;
  left: 0mm;
  top: 45mm;
  width: 100%;
  height: 200mm;
   color: #7d7e82;
}
body .letter-wrapper .letter-content .letter-body .letter-body-to {
 position: absolute;
    left: 23mm;
    top: 16mm;
    width: 68mm;
    height: 34mm;
    font-size: 12pt;
    margin: 0mm;
 color: #7d7e82;
}

body .letter-wrapper .letter-content .letter-body .letter-body-subject {
 position: absolute;
    left: 8mm;
    top: 48mm;
    width: calc(100% - 45mm);
    height: 20mm;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 13pt;
	 color: #7d7e82;
}
body .letter-wrapper .letter-content .letter-body .letter-body-salutation {
 position: absolute;
    left: 10mm;
    top: 61mm;
    width: auto;
    height: auto;
    margin-left: 15mm;
    font-size: 12pt;
	 color: #7d7e82;
}
body .letter-wrapper .letter-content .letter-body .letter-body-message {
position: absolute;
    left: 0mm;
    top: 71mm;
    width: auto;
    height: 115mm;
    margin-left: 21mm;
    margin-right: 23mm;
    color: #7d7e82;
}
body .letter-wrapper .letter-content .letter-body .letter-body-message p {
  font-size: 12pt;
    text-indent: 15mm;
    overflow: auto;
    text-align: justify;
}
body .letter-wrapper .letter-content .letter-body .letter-body-sign {
  position: absolute;
    left: 1mm;
    top: 169mm;
    width: auto;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 11pt;
}
body .letter-wrapper .letter-content .letter-body .letter-body-sign p {
  margin: 0mm;
  font-size: 10pt;
  font-weight: normal;
}
body .letter-wrapper .letter-content .letter-footer {
  position: absolute;
  left: 0mm;
  top: 256mm;
  width: 100%;
  height: 35mm;
}
body .letter-wrapper .letter-content .letter-footer .fa {
 width: 6mm;
    height: 5mm;
    /* border-radius: 172%; */
    padding: 1mm;
    margin-right: 9mm;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 13pt;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-website {
 position: absolute;
    left: 52mm;
    top: -22mm;
    width: auto;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 14pt;
    text-shadow: 0.2mm 0.2mm white;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-phone {
 position: absolute;
    left: 145mm;
    top: -241mm;
    width: 41%;
    height: auto;
    margin-left: 2mm;
    margin-right: 16mm;
    font-size: 13.5pt;
	 color: #7d7e82;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-email {
    position: absolute;
    left: 95mm;
    top: -234mm;
    width: 78mm;
    height: auto;
    margin-left: 26mm;
    margin-right: 41mm;
    font-size: 12pt;
	 color: #7d7e82;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-address {
 position: absolute;
    left: 105mm;
    top: -228mm;
    width: 100%;
    height: auto;
    margin-left: 8mm;
    margin-right: 14mm;
    font-size: 11pt;
	 color: #7d7e82;
}

/*body*/
