body {
  /*.letter-background*/
}
body .letter-wrapper {
  border: 1pt solid;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  left: auto;
  top: auto;
  width: 210mm;
  height: 297mm;
  /* background-image: url("../img/watermark2.png"); */
  position: relative;
  /*.main-letter*/
}
body .letter-wrapper .topbox1 {
  position: absolute;
  left: 33mm;
  top: -28mm;
  width:9mm;
  height: 64mm;
  background-color: #000;
  transform: rotate(100deg)skew(10deg, -50deg);
}
body .letter-wrapper .topbox2 {
  position: absolute;
  left:100mm;
  top: -28mm;
  width:9mm;
  height: 64mm;
  background-color: #da3d28;
  transform: rotate(100deg)skew(10deg, -50deg);
}

body .letter-wrapper .topbox3 {
  position: absolute;
  left:167mm;
  top: -28mm;
  width: 9mm;
  height: 64mm;
  background-color: #000;
  transform: rotate(100deg)skew(10deg, -50deg);
}
body .letter-wrapper .topbox4 {
  position: absolute;
  left:1mm;
  top:98mm;
  width: 8mm;
  height:98mm;
  background-color: #da3d28;
  transform: rotate(190deg)skew(10deg, -50deg);
}
body .letter-wrapper .topbox5 {
  position: absolute;
  left:1mm;
  top:199mm;
  width:8mm;
  height:98mm;
  background-color: #000;
  transform: rotate(190deg)skew(10deg, -50deg);
}

body .letter-wrapper .topbox6 {
  position: absolute;
  left:1mm;
  top: -3mm;
  width: 8mm;
  height:98mm;
  background-color: #000;
  transform: rotate(190deg)skew(10deg, -50deg);

}
body .letter-wrapper .topboxtitle1 {
  position: absolute;
  left:201mm;
  top:-2mm;
  width: 8mm;
  height:98mm;
  background-color: #000;
  transform: rotate(190deg)skew(10deg, -50deg);
}
body .letter-wrapper .topboxtitle2 {
  position: absolute;
  left: 100mm;
  bottom: -28mm;
  width:9mm;
  height: 64mm;
  background-color:#da3d28;
  transform: rotate(100deg)skew(10deg, -50deg);
  z-index:1;
}
body .letter-wrapper .topboxtitle3 {
  position: absolute;
  left: 33mm;
  bottom: -28mm;
  width: 9mm;
  height: 64mm;
  background-color: #000;
  transform: rotate(100deg)skew(10deg, -50deg);

}

body .letter-wrapper .topboxtitle4 {
  position: absolute;
  left:201mm;
  top:99mm;
  width: 8mm;
  height:98mm;
  background-color:#da3d28;
  transform: rotate(190deg)skew(10deg, -50deg);
}
body .letter-wrapper .topboxtitle5 {
  position: absolute;
  left: 168mm;
  bottom: -28mm;
  width:9mm;
  height: 64mm;
  background-color: #000;
  transform: rotate(100deg)skew(10deg, -50deg);

}

body .letter-wrapper .topboxtitle6{
  position: absolute;
  left:201mm;
  top:201mm;
  width: 8mm;
  height:98mm;
  background-color: #000;
  transform: rotate(190deg)skew(10deg, -50deg);
}

 .rcorners{
  border-radius: 10mm;
  border: 5px solid #040404;
  padding: 1mm; 
  width: 188mm;
  margin-left: 11mm;
  margin-top: 12mm;
  height: 274mm;
  top: 10mm;  
  z-index: 2;
}
    

.body .letter-wrapper .letter-content {
  /*header*/
  /*letter-body*/
  /*footer*/
}

body .letter-wrapper .letter-content header {
  position: absolute;
  left: 0mm;
  top: 0mm;
  width: 100%;
  height: 45mm;
}
body .letter-wrapper .letter-content header .letter-org-logo {
  font-weight: bold;
  position: absolute;
  left:7mm;
  top:7mm;
  width:25mm;
  height:34mm;
  margin:5mm;
}
body .letter-wrapper .letter-content header .letter-org-logo img {
  width: 100%;
  height: 100%;
}
body .letter-wrapper .letter-content header .letter-org-name {
  font-weight: bold;
  position: absolute;
  left:37mm;
  top:22mm;
  width: 100%;
  height: auto;
  font-size:11pt;
}
body .letter-wrapper .letter-content header .letter-org-details {
  position: absolute;
  left:46mm;
  top: 27mm;
  width: 100%;
  height: auto;
  font-size:6pt;
}
body .letter-wrapper .letter-content header .letter-ref {
  font-weight: bold;
  position: absolute;
  left: 15mm;
  top: 50mm;
  width: 50%;
  height: auto;
  font-size: 12pt;
}
body .letter-wrapper .letter-content header .letter-date {
  font-weight: bold;
  position: absolute;
  left: 165mm;
  top: 50mm;
  width: 30%;
  height: auto;
  font-size: 12pt;
}
body .letter-wrapper .letter-content .letter-body {
  position: absolute;
  left: 0mm;
  top: 45mm;
  width: 100%;
  height: 200mm;
}
body .letter-wrapper .letter-content .letter-body .letter-body-to {
  position: absolute;
  left: 15mm;
  top: 15mm;
  width: 70mm;
  height: 35mm;
  font-weight: bold;
  font-size: 13pt;
  margin: 0mm;
}
body .letter-wrapper .letter-content .letter-body .letter-body-subject {
  position: absolute;
  left: 0mm;
  top: 50mm;
  width: calc(100% - 45mm);
  height: 20mm;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 15pt;
  font-weight: bold;
}
body .letter-wrapper .letter-content .letter-body .letter-body-salutation {
  position: absolute;
  left: 0mm;
  top: 70mm;
  width: auto;
  height: auto;
  margin-left: 15mm;
  font-weight: bold;
  font-size: 15pt;
}
body .letter-wrapper .letter-content .letter-body .letter-body-message {
  position: absolute;
  left: 0mm;
  top: 80mm;
  width: auto;
  height: 115mm;
  margin-left: 15mm;
  margin-right: 15mm;
}
body .letter-wrapper .letter-content .letter-body .letter-body-message p {
  font-size: 13pt;
  text-indent: 15mm;
  font-family: "Times New Roman", Times, serif;
  overflow: auto;
  text-align: justify;
}
body .letter-wrapper .letter-content .letter-body .letter-body-sign {
  position: absolute;
  left: 0mm;
  top: 176mm;
  width: auto;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 12pt;
  font-weight: bold;
}
body .letter-wrapper .letter-content .letter-body .letter-body-sign p {
  margin: 0mm;
  font-size: 10pt;
  font-weight: normal;
} 
body .letter-wrapper .letter-content .letter-footer {
  position: absolute;
  left: 0mm;
  top: 232mm;
  width: 100%;
  height: 35mm;
}
body .letter-wrapper .letter-content .letter-footer .fa {
  width: 7mm;
  height: 7mm;
  border-radius: 50%;
  padding: 1mm;
  margin-right: 3mm;
  background-color: #43a9bb;
  text-align: center;
  font-size: 12pt;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-website {
  position: absolute;
  left:45mm;
  top: 10mm;
  width: auto;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size:14pt;
  font-weight: bold;
  text-shadow: 0.2mm 0.2mm white;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-phone {
  position: absolute;
  left:88mm;
  top:29mm;
  width: 40%;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 11pt;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-email {
  position: absolute;
  left:88mm;
  top:20mm;
  width: 87mm;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 11pt;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-address {
  position: absolute;
  left:88mm;
  top:38mm;
  width:53%;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 11pt;
}

/*body*/
