body {
  /*.letter-background*/
}
body .letter-wrapper {
  border: 1pt solid;
  margin: auto;
  overflow: hidden;
  background-color: white;
  left: auto;
  top: auto;
  width: 210mm;
  height: 297mm;
  /* background-image: url("../img/watermark2.png"); */
  position: relative;
  /*.main-letter*/
}
body .letter-wrapper .topbox1 {
      position: absolute;
    left: 103mm;
    top: -52mm;
    width: 75mm;
    height: 77mm;
    background-color: #135fa7;
    transform: rotate(47deg);
}
body .letter-wrapper .topbox2 {
    position: absolute;
    left: 85mm;
    top: 229mm;
    width: 1mm;
    height: 113mm;
    background-color: #414248;
    transform: rotate(130deg);
}
body .letter-wrapper .topbox3 {
      position: absolute;
    left: 178mm;
    top: -15mm;
    width: 2mm;
    height: 70mm;
    background-color: #414248;
    transform: rotate(47deg);
}
body .letter-wrapper .topboxtitle {
        position: absolute;
    left: 142mm;
    top: 38mm;
    width: 15mm;
    height: 2mm;
    background-color: #414248;
    transform: rotate(47deg);
}
body .letter-wrapper .bottombox1 {
     position: absolute;
    left: 43mm;
    top: 259mm;
    width: 83mm;
    height: 29mm;
    z-index: 300;
    transform: skewX(45deg);
    background-color: #1d243e;
}
body .letter-wrapper .bottombox2 {
  position: absolute;
    left: -10mm;
    top: 267mm;
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 0mm 0mm 84mm 92mm;
    z-index: 144;
    border-color: transparent transparent transparent #104b83;
    transform: rotate(40deg);
}
body .letter-wrapper .bottombox3 {
	position: absolute;
    left: 82mm;
    top: 259mm;
    width: 120mm;
    height: 29mm;
    z-index: 252;
    background-color: #1d243e;
}

.l-shape::before,
.l-shape::after {
  content: '';
  position: absolute;
  background-color: #f0f0f0;
}

.l-shape::before {
  width: 32px;
    height: 3px;
    top: 118px;
    left: 453px;
    transform: rotate(142deg);
    background-color: #454544;
}

.l-shape::after {
          width: 3px;
    height: 270px;
    top: -107px;
    background-color: #454544;
    transform: rotate(-42deg);
    left: 365px;
}

body .letter-wrapper .letter-background .rectright {
	      position: absolute;
    left: 147px;
    top: 248mm;
    width: 1mm;
    height: 10mm;
    background: #414248 !important;
    transform: rotate(44deg);
    position: absolute;
	}
	
	body .letter-wrapper .letter-background .shape1 {
	    left: 89mm;
    top: -13.7mm;
    width: 14mm;
    height: 37mm;
    border-left: 2.9pt solid #135fa7 !important;
    border-bottom: 2.9pt solid #135fa7 !important;
    transform: rotate(-43deg);
    position: absolute;
	}
	
	body .letter-wrapper .letter-background .shape2 {
    left: 144mm;
    top: 4.3mm;
    width: 67mm;
    height: 9mm;
    border-left: 5.7pt solid #135fa7 !important;
    border-bottom: 5.7pt solid #135fa7 !important;
    transform: rotate(-43deg);
    position: absolute;
	}
	
	body .letter-wrapper .letter-background .shape3 {
	    left: 182mm;
    top: -7.7mm;
    width: 23mm;
    height: 27mm;
    border-left: 2.9pt solid #000000 !important;
    border-bottom: 2.9pt solid #000000 !important;
    transform: rotate(-43deg);
    position: absolute;
	}

body .letter-wrapper .letter-background .shape4 {
	    left: 187mm;
    top: -14.7mm;
    width: 17mm;
    height: 38mm;
    border-left: 2.9pt solid #135fa7 !important;
    border-bottom: 2.9pt solid #135fa7 !important;
    transform: rotate(-43deg);
    position: absolute;
	}

body .letter-wrapper .letter-content {
  /*header*/
  /*letter-body*/
  /*footer*/
}
body .letter-wrapper .letter-content header {
         position: absolute;
    left: 7mm;
    top: 5mm;
    width: 63%;
    height: 47mm;
    border-bottom: 1mm solid;
    border-block-color: #c7c7c9;
}
body .letter-wrapper .letter-content header .letter-org-logo {
  font-weight: bold;
    /* font-size: 62px; */
    position: absolute;
    left: -1mm;
    top: 20mm;
    width: 25mm;
    height: 20mm;
    margin: 5mm;
}
body .letter-wrapper .letter-content header .letter-org-logo img {
  width: 100%;
  height: 100%;
}
body .letter-wrapper .letter-content header .letter-org-name {
      font-weight: bold;
    position: absolute;
    left: 28mm;
    top: 28mm;
    width: 51%;
    height: 58mm;
    font-size: 18pt;
}
body .letter-wrapper .letter-content header .letter-org-details {
    position: absolute;
    left: 28mm;
    top: 36mm;
    width: 103%;
    height: auto;
    font-size: 12pt;
}
body .letter-wrapper .letter-content header .letter-ref {
  font-weight: bold;
    position: absolute;
    left: 1mm;
    top: 3mm;
    width: 50%;
    height: auto;
    font-size: 10pt;
}
body .letter-wrapper .letter-content header .letter-date {
	font-weight: bold;
    position: absolute;
    left: 150mm;
    top: 67mm;
    width: 30%;
    height: auto;
    font-size: 11pt;
}
body .letter-wrapper .letter-content .letter-body {
  position: absolute;
  left: 0mm;
  top: 45mm;
  width: 100%;
  height: 200mm;
}
body .letter-wrapper .letter-content .letter-body .letter-body-to {
     position: absolute;
    left: 15mm;
    top: 14mm;
    width: 70mm;
    height: auto;
    font-weight: bold;
    font-size: 11pt;
    margin: 0mm;
}
body .letter-wrapper .letter-content .letter-body .letter-body-subject {
      position: absolute;
    left: 0mm;
    top: 44mm;
    width: calc(100% - 76mm);
    height: 41mm;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 13pt;
    font-weight: bold;
}
body .letter-wrapper .letter-content .letter-body .letter-body-salutation {
 position: absolute;
    left: 0mm;
    top: 56mm;
    width: auto;
    height: auto;
    margin-left: 15mm;
    font-weight: bold;
    font-size: 13pt;
}
body .letter-wrapper .letter-content .letter-body .letter-body-message {
  position: absolute;
    left: -1mm;
    top: 67mm;
    width: 192mm;
    height: -75mm;
    margin-left: 13mm;
    font-size: -63pt;
}
body .letter-wrapper .letter-content .letter-body .letter-body-message p {
  font-size: 13pt;
    text-indent: 15mm;
    font-family: "Times New Roman", Times, serif;
    overflow: auto;
    text-align: justify;
    margin-left: 11mm;
    margin-right: 17mm;
}
body .letter-wrapper .letter-content .letter-body .letter-body-sign {
  position: absolute;
    left: 2mm;
    top: 182mm;
    width: auto;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 12pt;
    font-weight: bold;
}
body .letter-wrapper .letter-content .letter-body .letter-body-sign p {
  margin: 0mm;
  font-size: 10pt;
  font-weight: normal;
}
body .letter-wrapper .letter-content .letter-footer {
  position: absolute;
  left: 0mm;
  top: 256mm;
  width: 100%;
  height: 35mm;
}
body .letter-wrapper .letter-content .letter-footer .fa {
        width: 8mm;
    height: 7mm;
    border-radius: 55%;
    padding: 1mm;
    margin-right: 2mm;
    background-color: #1e4370;
    text-align: center;
    font-size: 16pt;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-website {
    position: absolute;
    left: 96mm;
    top: -8mm;
    width: auto;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 16pt;
    font-weight: bold;
    text-shadow: 0.2mm 0.2mm #1a1717;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-phone {
          position: absolute;
    left: 31mm;
    top: 10mm;
    width: 49%;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 9pt;
    z-index: 300;
    color: white;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-email {
     position: absolute;
    left: 68mm;
    top: 10mm;
    z-index: 367;
    width: 87mm;
    height: auto;
    margin-left: 15mm;
    color: white;
    margin-right: 15mm;
    font-size: 9pt;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-address {
        position: absolute;
    left: 130mm;
    top: 9mm;
    z-index: 515;
    width: 100%;
    height: auto;
    color: white;
    margin-left: 15mm;
    margin-right: 22mm;
    font-size: 7pt;
}

/*body*/
