body .letter-wrapper {
   border: 1pt solid;
  margin: auto;
  overflow: hidden;
  background-color: white;
  left: auto;
  
  top: auto;
  width: 250mm;
  height: 350mm;
  /* background-image: url("../img/watermark2.png"); */
  position: relative;
  /*.main-letter*/
}

body .letter-wrapper .bottombox1 {
	/*position : absolute;*/
	  left: -12mm;
	  top: 0mm;
	  width: 206mm;
	  height: 11mm;
	  background: black !important;
	  transform: skewX(1deg);
	  position: relative;
}

body .letter-wrapper .bottombox2 {
    /*position : absolute;*/
	  left: -4mm;
	  top: 12mm;
	  width: 198.5mm;
	  height: 10mm;
	  background: red !important;
	  transform: skewX(37deg);
	  position: absolute;
}

body .letter-wrapper .rightbox3 {
  left: 203mm;
  top: -0.5mm;
  width: 14mm;
  height: 22mm;
  background: red !important;
  transform: skewX(-137deg);
  position: absolute;
}

body .letter-wrapper .rightbox4 {
    position : absolute;
	  left: 189mm;
    top: -0.5mm;
    width: 13mm;
    height: 19mm;
    background: black !important;
    transform: skewX(-137deg);
    position: absolute;
}

body .letter-wrapper .leftbox4 {
   /*position: absolute; */
    left: 41mm;
    top: 317mm;
    width: 13mm;
    height: 33mm;
    background: red !important;
    transform: skewX(38deg);
    position: relative;
}
body .letter-wrapper .bottombox4{
  /*position : absolute;*/
	  left: 61mm;
	  top: 297mm;
	  width: 204mm;
	  height: 10mm;
	  background: black !important;
	  transform: skewX(37deg);
	  position: relative;
	  
}

body .letter-wrapper .bottombox5 {
  /*position : absolute;*/
  left: 53mm;
  top: 278mm;
  width: 11mm;
  height: 23mm;
  background: black !important;
  transform: skewX(37deg);
  position: relative;
}

body .letter-wrapper .leftbox5 {
  position : absolute;
	left: 171mm;
	  top: 278mm;
	  width: 10mm;
	  height: 20mm;
	  background: red !important;
	  transform: skewX(34deg);
	  position: relative;
}

body .letter-wrapper .leftbox6 {
  position : absolute;
	  left: 162mm;
	  top: -317mm;
	  width: 10mm;
	  height: 33mm;
	  background: black !important;
	  transform: skewX(34deg);
	  position: relative;
}

body .letter-wrapper .letter-content header {
  position: absolute;
  left: 70mm;
  top: 0mm;
  width: 60%;
  height: 44mm;
  font-size:10mm;
  color: red;
 /* border-bottom: 1.2mm solid;*/
}

body .letter-wrapper .letter-content header .letter-org-logo {
  font-weight: bold;
    position: absolute;
    left: -49mm;
    top: 26mm;
    width: 16mm;
    height: 20mm;
    margin: 3mm;
}

body .letter-wrapper .letter-content header .letter-org-logo img {
  width: 75%;
  height: 65%;
}

body .letter-wrapper .letter-content header .letter-org-name {
  font-weight: bold;
  position: absolute;
  left: -34mm;
  top: 31mm;
  width: 80%;
  height: auto;
  font-size: 14pt;
}

body .letter-wrapper .letter-content header .letter-org-details {
  position: absolute;
  left: -34mm;
  top: 37mm;
  width: 60%;
  height: auto;
  font-size: 11pt;
  color:rgb(33, 32, 32);
}

body .letter-wrapper .letter-content header .letter-date {
  font-weight: bold;
  position: absolute;
  left: 103mm;
  top: 109mm;
  width: 30%;
  height: auto;
  font-size: 12pt;
  color:black;
}

body .letter-wrapper .letter-content header .letter-date1 {
  font-weight: bold;
  position: absolute;
  left: 114mm;
  top: 109mm;
  width: 30%;
  height: auto;
  font-size: 12pt;
  color:black;
}

body .letter-wrapper .letter-content .letter-body {
  position: absolute;
  left: -20mm;
  top: 20mm;
  width: 100%;
  height: 200mm;
}

body .letter-wrapper .letter-content .letter-body .letter-body-to {
  position: absolute;
  left: 45mm;
  top: 15mm;
  width: 70mm;
  height: 35mm;
  font-weight: bold;
  font-size: 13pt;
  margin: 0mm;
}

.A{
	width:10px;
	height:10px;
	left:8px;
	top:152px;
	position: absolute;
	font-size:15pt;
}

.B{
	width:-7px;
	height:10px;
	left:12px;
	top:180px;
	 position: absolute;
	 font-size:19pt;
   color:red;
}

.C{
	width:-7px;
	height:10px;
	left:11px;
	top:211px;
	 position: absolute;
	 font-size:11pt;
   color:rgb(117, 111, 111)
}

.D{
	width:-7px;
	height:10px;
	left:10px;
	top:240px;
	 position: absolute;
	 font-size:16pt;
   color:red;
}

.E{
	width:-7px;
	height:10px;
	left:10px;
	top:269px;
	 position: absolute;
	 font-size:11pt;
   color:rgb(82, 78, 78)
}

body .letter-wrapper .letter-content .letter-body .letter-body-salutation {
  position: absolute;
    left: 37mm;
    top: 123mm;
    width: auto;
    height: auto;
    margin-left: 15mm;
    font-weight: bold;
    font-size: 15pt;
}
	
body .letter-wrapper .letter-content .letter-body .letter-body-message {
  position: absolute;
    left: 17mm;
    top: 134mm;
    width: 80%;
    height: 48mm;
    margin-left: 36mm;
    margin-right: 44mm;
    font-size:0pt;
}

body .letter-wrapper .letter-content .letter-body .letter-body-message p {
  font-size: 13pt;
  text-indent: 1mm;
  font-family: "Times New Roman", Times, serif;
  overflow: auto;
  text-align: justify;
}

body .letter-wrapper .letter-content .letter-body .letter-body-sign {
  position: absolute;
  left: -1mm;
  top: 123mm;
  height: auto;
  font-size: 27pt;
  font-weight: bold;
  border-bottom: 1.5px solid black;
  width: 20%;
  color: red;
  font-family: 'Brush Script MT', cursive;
}

body .letter-wrapper .letter-content .letter-body .letter-body-sign1{
  position: absolute;
  left: 1mm;
  top: 137mm;
  width: auto;
  height: auto;
  font-size: 18pt;
  font-weight: bold;
  color: red;
}
body .letter-wrapper .letter-content .letter-body .letter-body-sign2{
  position: absolute;
  left: 9mm;
  top: 145mm;
  width: auto;
  height: auto;
  font-size: 15pt;
}



body .letter-wrapper .letter-content .letter-footer {
  position: absolute;
  left: 0mm;
  top: 256mm;
  width: 100%;
  height: 35mm;
}
.icon {
  position: absolute;
  z-index: 9;
  left: 191mm;
  top: 6mm;
  background-color: white;
}

/*body .letter-wrapper .letter-content .letter-footer .fa {
  width: 7mm;
  height: 7mm;
  border-radius: 50%;
  padding: 1mm;
  margin-right: 3mm;
  text-align: center;
  font-size: 12pt;
}*/

body .letter-wrapper .letter-content .letter-footer .letter-org-address {
  position: absolute;
    left: 197mm;
    top: 28mm;
    width: 100%;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 15pt;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-phone {
  position: absolute;
  left: 194mm;
  top: 6mm;
  width: 40%;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 15pt;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-email {
  position: absolute;
  left: 195mm;
  top: 19mm;
  width: 87mm;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 15pt;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 87px solid transparent;
  border-right: 134px solid transparent;
  border-top: 94px solid black;
  margin-top: -1043px;
  margin-left:859px;
}
	
 .triangle-up {
  width: 0;
  height: 0;
  border-left: 106px solid transparent;
  border-right: 79px solid transparent;
  border-bottom: 101px solid black;
  margin-top: 1130px;
  margin-left: 63px;

  }
	
.bottombox3 {
   /*position : absolute;*/
   left: 79mm;
    top: 54.5mm;
    width: 195mm;
    height: 9mm;
    background: red !important;
    transform: skewX(39deg);
    position: absolute;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 62px solid transparent;
  border-right: 88px solid red;
  border-bottom: 78px solid transparent;
  margin-top: -1287px;
  margin-left: 946px;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 43px solid transparent;
    border-left: 163px solid red;
    border-bottom: 156px solid transparent;
    margin-top: 1004px;
    margin-left: 1px;
}