@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4mm 8mm;
  font-family: sans-serif;
}

.letter-wrapper {
  box-shadow: -8px 0 5px 5px #b0b1b3;
  padding: 10mm 10mm 20mm;
  position: relative;
}

.letter-content {
  width: 200mm;
  /* border: 1px solid #000; */
  padding: 2mm 6mm;
  position: relative;
  margin: auto;
}

.letter-header {
  width: 70mm;
  text-align: center;
  margin-bottom: 10mm;
}

.letter-org-logo img {
  height: 25pt;
  display: block;
  margin: 10pt auto;
}

.letter-org-name {
  font-weight: bold;
  font-size: 17pt;
}

.letter-ref {
  position: absolute;
  top: 5mm;
  right: 46mm;
}

.letter-body-to {
  margin-bottom: 7mm;
}

.capitalize {
  font-weight: bold;
}

.capitalize:nth-of-type(2) {
  color: #71a595;
}

.letter-body-to > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.letter-date {
  margin-right: 44mm;
}

.letter-body-subject {
  margin-bottom: 7mm;
}

.letter-body-message {
  margin-bottom: 17mm;
}

.letter-body-salutation {
  margin-bottom: 3mm;
}

.letter-org-website {
  position: absolute;
  bottom: -1mm;
  margin-bottom: 4mm;
}

.letter-sign {
  font-size: 18pt;
  font-family: "WindSong", cursive;
  letter-spacing: 2pt;
}

.letter-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* border: 2px solid black; */
  padding-right: 5pt;
  margin-top: 5mm;
  gap: 5pt;
}

.letter-footer-logo {
  background: linear-gradient(
    90deg,
    #8ab964,
    #78ac50,
    #5ea26c,
    #48957d,
    #299495,
    #2894a4
  );
  border-radius: 50%;
  height: 20pt;
  width: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.letter-org-phone,
.letter-org-email,
.letter-org-address {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 10pt;
}

/* Box style */

.topbox1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 8mm;
  width: 100mm;
  /* padding-bottom: 2mm; */
  background: linear-gradient(
    90deg,
    #8ab964,
    #78ac50,
    #5ea26c,
    #48957d,
    #299495,
    #2894a4
  );
  /* border-bottom: 2px solid #000; */
}

.topbox2 {
  position: absolute;
  height: 2pt;
  width: 100mm;
  top: 9mm;
  right: 0;
  background-color: #000;
}

.bottombox1 {
  position: absolute;
  height: 10mm;
  background: linear-gradient(
    #292b39,
    #2b2a3a,
    #2b2a38,
    #2d2b39,
    #2d2a3b,
    #2d2b39
  );
  width: 220mm;
  bottom: 0;
  left: 0mm;
}

.bottombox2 {
  position: absolute;
  bottom: 10mm;
  left: 0;
  width: 220mm;
  height: 7mm;
  background: linear-gradient(
    90deg,
    #8ab964,
    #78ac50,
    #5ea26c,
    #48957d,
    #299495,
    #2894a4
  );
}

@media (max-width: 800px) and (min-width: 500px) {
  body {
    font-size: 10pt;
  }

  .letter-wrapper {
    width: 170mm;
    padding: 5mm 1mm 16mm 2mm;
  }

  .letter-content {
    width: 165mm;
  }

  .letter-org-logo img {
    height: 7mm;
  }

  .letter-org-name {
    font-size: 15pt;
  }

  .letter-org-details {
    font-size: 10pt;
  }
  .letter-body-sign {
    font-size: 10pt;
  }

  .letter-ref {
    right: 30mm;
    font-size: 8pt;
  }

  .letter-sign {
    font-size: 15pt;
    letter-spacing: 0.7pt;
    font-weight: bold;
  }

  .letter-org-website {
    font-size: 8pt;
  }

  p.capitalize {
    font-size: 9pt;
    margin-top: 10pt;
  }

  .letter-footer {
    font-size: 8pt;
  }

  .letter-date {
    /* border: 1px solid #000; */
    margin-right: 25mm;
  }

  .letter-footer-logo {
    height: 15pt;
    width: 15pt;
    font-size: 8pt;
  }

  .letter-org-phone,
  .letter-org-email,
  .letter-org-address {
    gap: 5pt;
  }

  .topbox1 {
    height: 6mm;
    width: 80mm;
  }

  .topbox2 {
    width: 80mm;
    top: 8mm;
  }

  .bottombox1,
  .bottombox2 {
    width: 170mm;
  }
}
